public/yandex/integration/companies/yandex-companies-import-1.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="companies" type="CompaniesType">

        <xs:unique name="companyIdKey">
            <xs:selector xpath="company"/>
            <xs:field xpath="company-id"/>
        </xs:unique>

        <xs:key name="enumValueKey">
            <xs:selector xpath="known-features/enum-value"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="."/>
        </xs:key>

        <xs:keyref name="featureSingleEnumValueRef" refer="enumValueKey">
            <xs:selector xpath="company/feature-enum-single|company/feature-enum-multiple"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@value"/>
        </xs:keyref>

        <xs:key name="knownUnitValues">
            <xs:selector xpath="known-features/unit-value"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@value"/>
        </xs:key>

        <xs:keyref name="featureUnitNumericRef" refer="knownUnitValues">
            <xs:selector
                    xpath="known-features/known-range-in-units-single|known-features/known-range-in-units-multiple|known-features/known-in-units-single|known-features/known-in-units-multiple"/>
            <xs:field xpath="@unit"/>
            <xs:field xpath="@unit-value"/>
        </xs:keyref>

        <xs:key name="knownUnitNames">
            <xs:selector xpath="known-features/known-unit"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureUnitRef" refer="knownUnitNames">
            <xs:selector
                    xpath="known-features/feature-in-units-single|known-features/feature-in-units-multiple|known-features/known-range-in-units-single|known-features/known-range-in-units-multiple"/>
            <xs:field xpath="@unit"/>
        </xs:keyref>

        <xs:key name="knownInUnitsSingleItems">
            <xs:selector xpath="known-features/known-in-units-single"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@unit"/>
        </xs:key>

        <xs:keyref name="knownInUnitsSingleItemsRef" refer="knownInUnitsSingleItems">
            <xs:selector xpath="company/feature-in-units-single"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@unit"/>
        </xs:keyref>

        <xs:key name="knownInUnitsMultipleItems">
            <xs:selector xpath="known-features/known-in-units-multiple"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@unit"/>
        </xs:key>

        <xs:keyref name="knownInUnitsMultipleItemsRef" refer="knownInUnitsMultipleItems">
            <xs:selector xpath="company/feature-in-units-multiple"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@unit"/>
        </xs:keyref>

        <xs:key name="knownRangeInUnitsSingleItems">
            <xs:selector xpath="known-features/known-range-in-units-single"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@unit"/>
        </xs:key>

        <xs:keyref name="knownRangeInUnitsSingleItemsRef" refer="knownRangeInUnitsSingleItems">
            <xs:selector xpath="company/feature-range-in-units-single"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@unit"/>
        </xs:keyref>

        <xs:key name="knownRangeInUnitsMultipleItems">
            <xs:selector xpath="known-features/known-range-in-units-multiple"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@unit"/>
        </xs:key>

        <xs:keyref name="knownRangeInUnitsMultipleItemsRef" refer="knownRangeInUnitsMultipleItems">
            <xs:selector xpath="company/feature-range-in-units-multiple"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@unit"/>
        </xs:keyref>

        <xs:key name="knownFeatureNames">
            <xs:selector
                    xpath="known-features/known-enum-multiple|known-features/known-enum-single|known-features/known-multiple|known-features/known-single|known-features/known-boolean|known-features/known-numeric-single|known-features/known-numeric-multiple|known-features/known-range-single|known-features/known-range-multiple"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureNameIsKnownRef" refer="knownFeatureNames">
            <xs:selector
                    xpath="company/feature-enum-single|company/feature-enum-multiple|company/feature-single|company/feature-multiple|company/feature-boolean|company/feature-numeric-single|company/feature-numeric-multiple|company/feature-range-single|company/feature-range-multiple"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureBooleanNames">
            <xs:selector xpath="known-features/known-boolean"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureBooleanNameRef" refer="knownFeatureBooleanNames">
            <xs:selector xpath="company/feature-boolean"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureSingleNames">
            <xs:selector xpath="known-features/known-single"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureSingleNameRef" refer="knownFeatureSingleNames">
            <xs:selector xpath="company/feature-single"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureMultipleNames">
            <xs:selector xpath="known-features/known-multiple"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureMultipleNameRef" refer="knownFeatureMultipleNames">
            <xs:selector xpath="company/feature-multiple"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureEnumMultipleNames">
            <xs:selector xpath="known-features/known-enum-multiple"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureEnumMultipleNameRef" refer="knownFeatureEnumMultipleNames">
            <xs:selector xpath="company/feature-enum-multiple"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureEnumSingleNames">
            <xs:selector xpath="known-features/known-enum-single"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureEnumSingleNameRef" refer="knownFeatureEnumSingleNames">
            <xs:selector xpath="company/feature-enum-single"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureNumericSingleNames">
            <xs:selector xpath="known-features/known-numeric-single"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureNumericSingleNameRef" refer="knownFeatureNumericSingleNames">
            <xs:selector xpath="company/feature-numeric-single"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureNumericMultipleNames">
            <xs:selector xpath="known-features/known-numeric-multiple"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureNumericMultipleNameRef" refer="knownFeatureNumericMultipleNames">
            <xs:selector xpath="company/feature-numeric-multiple"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureRangeSingleNames">
            <xs:selector xpath="known-features/known-range-single"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureRangeSingleNameRef" refer="knownFeatureRangeSingleNames">
            <xs:selector xpath="company/feature-range-single"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureRangeMultipleNames">
            <xs:selector xpath="known-features/known-range-multiple"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureRangeMultipleNameRef" refer="knownFeatureRangeMultipleNames">
            <xs:selector xpath="company/feature-range-multiple"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureRangeUnitSingleNames">
            <xs:selector xpath="known-features/known-range-in-units-single"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="knownFeatureRangeUnitSingleNamesRef" refer="knownFeatureRangeUnitSingleNames">
            <xs:selector xpath="company/feature-range-in-units-single"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownFeatureRangeUnitMultipleNames">
            <xs:selector xpath="known-features/known-range-in-units-multiple"/>
            <xs:field xpath="@name"/>
        </xs:key>

        <xs:keyref name="featureRangeUnitMultipleNameRef" refer="knownFeatureRangeUnitMultipleNames">
            <xs:selector xpath="company/feature-range-in-units-multiple"/>
            <xs:field xpath="@name"/>
        </xs:keyref>

        <xs:key name="knownUnitCombinations">
            <xs:selector xpath="known-features/unit-value"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@value"/>
        </xs:key>

        <xs:keyref name="featureInUnitValueRef" refer="knownUnitCombinations">
            <xs:selector
                    xpath="company/feature-in-units-single|company/feature-in-units-multiple|company/feature-range-in-units-single|company/feature-range-in-units-multiple"/>
            <xs:field xpath="@unit"/>
            <xs:field xpath="@unit-value"/>
        </xs:keyref>


    </xs:element>

    <xs:complexType name="CompaniesType">

        <xs:sequence>
            <xs:element ref="company" maxOccurs="unbounded" minOccurs="1"/>
            <xs:element name="known-features" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice>
                        <xs:element ref="known-feature" maxOccurs="unbounded" minOccurs="0"/>
                        <xs:element ref="enum-unit-value" maxOccurs="unbounded" minOccurs="0"/>
                    </xs:choice>
                </xs:complexType>

                <xs:key name="knownUnitName">
                    <xs:selector xpath="known-unit"/>
                    <xs:field xpath="@name"/>
                </xs:key>
                <xs:keyref name="knownUnitNameRef" refer="knownUnitName">
                    <xs:selector xpath="unit-value"/>
                    <xs:field xpath="@name"/>
                </xs:keyref>
                <xs:keyref name="knownUnitInUnitsRef" refer="knownUnitName">
                    <xs:selector xpath="known-in-units-single|known-in-units-multiple|known-range-in-units-single|known-in-units-multiple"/>
                    <xs:field xpath="unit"/>
                </xs:keyref>

                <xs:key name="knownEnumName">
                    <xs:selector xpath="known-enum-single|known-enum-multiple"/>
                    <xs:field xpath="@name"/>
                </xs:key>
                <xs:keyref name="knownEnumNameRef" refer="knownEnumName">
                    <xs:selector xpath="enum-value"/>
                    <xs:field xpath="@name"/>
                </xs:keyref>

            </xs:element>
        </xs:sequence>

        <xs:attribute name="version" type="xs:NMTOKEN" use="required" fixed="2.1"/>

    </xs:complexType>

    <xs:complexType name="lang-token">
        <xs:simpleContent>

            <xs:extension base="xs:token">
                <xs:attribute xml:space="default" name="lang" default="ru">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-z][a-z]"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>

        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="uri">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="https?://((([a-zA-Zа-яёА-ЯЁ0-9_-]+\.)+[a-zA-Zа-яёА-ЯЁ]{2,6})|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})|localhost)(:[0-9]+)?(/.*)?"/>
        </xs:restriction>
    </xs:simpleType>

     <xs:element name="enum-unit-value"/>
    <xs:element name="unit-value" type="unitValueType" substitutionGroup="enum-unit-value"/>
    <xs:element name="enum-value" type="enumValueType" substitutionGroup="enum-unit-value"/>

    <xs:complexType name="unitValueType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="enumValueType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="knownFeatureType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="knownNumericType">
      <xs:simpleContent>
        <xs:extension base="knownFeatureType">
                <xs:attribute name="max-value" type="xs:decimal" use="optional"/>
                <xs:attribute name="min-value" type="xs:decimal" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="knownUnitableType">
        <xs:simpleContent>
            <xs:extension base="knownNumericType">
                <xs:attribute name="unit" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="knownRangeType">
        <xs:simpleContent>
            <xs:extension base="knownFeatureType">
                <xs:attribute name="from" type="xs:string" use="optional"/>
                <xs:attribute name="to" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="knownRangeWithUnitType">
        <xs:simpleContent>
            <xs:extension base="knownRangeType">
                <xs:attribute name="unit" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="known-feature" type="knownFeatureType"/>

    <xs:element name="known-unit" substitutionGroup="known-feature"/>

    <xs:element name="known-enum-single" substitutionGroup="known-feature"/>
    <xs:element name="known-enum-multiple" substitutionGroup="known-feature"/>
    <xs:element name="known-boolean" substitutionGroup="known-feature"/>
    <xs:element name="known-single" substitutionGroup="known-feature"/>
    <xs:element name="known-multiple" substitutionGroup="known-feature"/>

    <xs:element name="known-numeric-single" type="knownNumericType" substitutionGroup="known-feature"/>
    <xs:element name="known-numeric-multiple" type="knownNumericType" substitutionGroup="known-feature"/>

    <xs:element name="known-in-units-single" type="knownUnitableType" substitutionGroup="known-feature"/>
    <xs:element name="known-in-units-multiple" type="knownUnitableType" substitutionGroup="known-feature"/>

    <xs:element name="known-range-single" type="knownRangeType" substitutionGroup="known-feature"/>
    <xs:element name="known-range-multiple" type="knownRangeType" substitutionGroup="known-feature"/>

    <xs:element name="known-range-in-units-single" type="knownRangeWithUnitType" substitutionGroup="known-feature"/>
    <xs:element name="known-range-in-units-multiple" type="knownRangeWithUnitType" substitutionGroup="known-feature"/>

    <xs:element name="company">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="company-id" type="xs:token" maxOccurs="1" minOccurs="1"/>
                <xs:element name="name" type="lang-token" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="name-other" type="lang-token" maxOccurs="unbounded" minOccurs="0"/>

                <xs:element name="post-index" type="xs:token" maxOccurs="1" minOccurs="0"/>
                <xs:element name="address" type="lang-token" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element name="country" type="lang-token" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element name="admn-area" type="lang-token" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="sub-admn-area" type="lang-token" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="locality-name" type="lang-token" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element name="sub-locality-name" type="lang-token" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="street" type="lang-token" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="house" type="xs:token" maxOccurs="1" minOccurs="0"/>
                <xs:element name="house-add" type="xs:token" maxOccurs="1" minOccurs="0"/>
                <xs:element name="corps" type="xs:token" maxOccurs="1" minOccurs="0"/>
                <xs:element name="build" type="xs:token" maxOccurs="1" minOccurs="0"/>
                <xs:element name="possession" type="xs:token" maxOccurs="1" minOccurs="0"/>
                <xs:element name="km" type="xs:token" maxOccurs="1" minOccurs="0"/>
                <xs:element name="address-add" type="lang-token" maxOccurs="unbounded" minOccurs="0"/>

                <xs:element ref="coordinates" maxOccurs="1" minOccurs="0"/>

                <xs:element ref="phone" maxOccurs="unbounded" minOccurs="0"/>

                <xs:element name="email" type="xs:token" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="url" type="uri" maxOccurs="1" minOccurs="0"/>
                <xs:element name="add-url" type="uri" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="info-page" type="uri" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element name="working-time" type="lang-token" maxOccurs="1" minOccurs="0"/>

                <xs:element name="rubric-id" type="xs:token" maxOccurs="7" minOccurs="1"/>
                <xs:element name="actualization-date" type="xs:unsignedLong" maxOccurs="1" minOccurs="1"/>

                <xs:element name="description" type="lang-token" maxOccurs="1" minOccurs="0"/>

                <xs:element ref="photos" maxOccurs="1" minOccurs="0"/>

                <xs:element name="add-info" maxOccurs="unbounded" minOccurs="0"/>

                <xs:element ref="feature" maxOccurs="unbounded" minOccurs="0"/>

            </xs:sequence>
        </xs:complexType>
        <xs:unique name="companyNameKey">
            <xs:selector xpath="name"/>
            <xs:field xpath="@lang"/>
        </xs:unique>
        <xs:unique name="companyAddressKey">
            <xs:selector xpath="address"/>
            <xs:field xpath="@lang"/>
        </xs:unique>
        <xs:unique name="companyCountryKey">
            <xs:selector xpath="country"/>
            <xs:field xpath="@lang"/>
        </xs:unique>
        <xs:unique name="companyAdmnAreaKey">
            <xs:selector xpath="admn-area"/>
            <xs:field xpath="@lang"/>
        </xs:unique>
        <xs:unique name="companySubAdmnAreaKey">
            <xs:selector xpath="sub-admn-area"/>
            <xs:field xpath="@lang"/>
        </xs:unique>
        <xs:unique name="companyLocalityKey">
            <xs:selector xpath="locality-name"/>
            <xs:field xpath="@lang"/>
        </xs:unique>
        <xs:unique name="companyStreetKey">
            <xs:selector xpath="street"/>
            <xs:field xpath="@lang"/>
        </xs:unique>
        <xs:unique name="companyAddressAddKey">
            <xs:selector xpath="address-add"/>
            <xs:field xpath="@lang"/>
        </xs:unique>
        <xs:unique name="companyWorkingTimeKey">
            <xs:selector xpath="working-time"/>
            <xs:field xpath="@lang"/>
        </xs:unique>
        <xs:unique name="featureRangeInUnitsSingleNameUnique">
             <xs:selector xpath="feature-range-in-units-single"/>
             <xs:field xpath="@name"/>
         </xs:unique>

         <xs:unique name="featureInUnitsSingleNameUnique">
             <xs:selector xpath="feature-in-units-single"/>
             <xs:field xpath="@name"/>
         </xs:unique>

         <xs:unique name="featureRangeSingleNameUnique">
             <xs:selector xpath="feature-range-single"/>
             <xs:field xpath="@name"/>
         </xs:unique>

         <xs:unique name="featureNumericSingleNameUnique">
             <xs:selector xpath="feature-numeric-single"/>
             <xs:field xpath="@name"/>
         </xs:unique>

         <xs:unique name="featureEnumSingleNameUnique">
             <xs:selector xpath="feature-enum-single"/>
             <xs:field xpath="@name"/>
         </xs:unique>

         <xs:unique name="featureSingleNameUnique">
             <xs:selector xpath="feature-single"/>
             <xs:field xpath="@name"/>
         </xs:unique>

    </xs:element>

    <xs:element name="phone">
        <xs:complexType>
            <xs:all>
                <xs:element name="ext" type="xs:token" maxOccurs="1" minOccurs="1"/>
                <xs:element name="type" maxOccurs="1" minOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="phone"/>
                            <xs:enumeration value="fax"/>
                            <xs:enumeration value="phone-fax"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="number" type="xs:token" maxOccurs="1" minOccurs="1"/>
                <xs:element name="info" type="xs:token" maxOccurs="1" minOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="coordinates">
        <xs:complexType>
            <xs:all>
                <xs:element name="lon" type="xs:float" maxOccurs="1" minOccurs="1"/>
                <xs:element name="lat" type="xs:float" maxOccurs="1" minOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="photos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="photo" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="gallery-url" type="uri" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="photo">
        <xs:complexType>
            <xs:attribute name="url" type="uri" use="required"/>
            <xs:attribute name="alt" type="xs:string" use="optional"/>
            <xs:attribute name="type" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="interior"/>
                        <xs:enumeration value="exterior"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="add-info">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="param" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:token" maxOccurs="1" minOccurs="1"/>
                            <xs:element name="value" type="xs:token" maxOccurs="1" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="feature"/>

    <xs:complexType name="featureType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="featureBooleanType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="featureSimpleType">
        <xs:simpleContent>
            <xs:extension base="featureType"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="featureUnitableType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:decimal" use="required"/>
        <xs:attribute name="unit" type="xs:string" use="required"/>
        <xs:attribute name="unit-value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="featureEnumType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="featureNumericType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:decimal" use="required"/>
    </xs:complexType>

    <xs:complexType name="featureRangeType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="from" type="xs:string" use="optional"/>
        <xs:attribute name="to" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="featureRangeUnitType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="from" type="xs:decimal" use="optional"/>
        <xs:attribute name="to" type="xs:decimal" use="optional"/>
        <xs:attribute name="unit" type="xs:string" use="required"/>
        <xs:attribute name="unit-value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="feature-boolean" type="featureBooleanType" substitutionGroup="feature"/>

    <xs:element name="feature-single" type="featureSimpleType" substitutionGroup="feature"/>
    <xs:element name="feature-multiple" type="featureSimpleType" substitutionGroup="feature"/>

    <xs:element name="feature-enum-single" type="featureEnumType" substitutionGroup="feature"/>
    <xs:element name="feature-enum-multiple" type="featureEnumType" substitutionGroup="feature"/>

    <xs:element name="feature-numeric-single" type="featureNumericType" substitutionGroup="feature"/>
    <xs:element name="feature-numeric-multiple" type="featureNumericType" substitutionGroup="feature"/>

    <xs:element name="feature-in-units-single" type="featureUnitableType" substitutionGroup="feature"/>
    <xs:element name="feature-in-units-multiple" type="featureUnitableType" substitutionGroup="feature"/>

    <xs:element name="feature-range-single" type="featureRangeType" substitutionGroup="feature"/>
    <xs:element name="feature-range-multiple" type="featureRangeType" substitutionGroup="feature"/>

    <xs:element name="feature-range-in-units-single" type="featureRangeUnitType" substitutionGroup="feature"/>
    <xs:element name="feature-range-in-units-multiple" type="featureRangeUnitType" substitutionGroup="feature"/>

</xs:schema>
